*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html{
    font-family: Lato, sans-serif;
    line-height: 1.5;
     font-size: 16px;
    background-color: #1F2937;
    color: #fff;
  
}



#header{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
}

#description{
    font-weight: 300;
    font-style: italic;
}

/* FORM */

form{
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

/* cadre autour du formulaire */
form#survey-form {
  border: 2px solid rgba(255, 255, 255, 0.3);  
  padding: 1.5rem;        
  border-radius: 8px;      
}


hr{
    margin-bottom: 20px;
}

fieldset{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: none;
     flex-wrap: wrap;
     gap: 0.5rem 2rem;
      padding: 15px;
    border-radius: 8px;
}

label{
    margin-bottom: 5px;
    width: 100%;
}

label,
legend {
  margin-bottom: 10px;
  display: block;
}


input{
    height: 1.8rem;
    padding-left: 12px;
    margin-bottom: 5px;
}

input, select, textarea {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    color: #000;
    border-radius: 5px;
    border: none;
}


/* FIELDSET WITH INPUT LIST TYPE RADIO */
legend{
    margin-bottom: 15px;
    font-size: 1.2rem;
}

#radio label {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

input[type="radio"] {
  transform: scale(1.4);
  margin-right: 0.5rem;
}

input[type="checkbox"] {
  transform: scale(1.8);
  margin-right: 0.5rem;
}

#favorite{
    font-size: 1.2rem;
}

select{
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

#dropdown{
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    height: 40px;
}



/* FIELDSET WITH INPUT LIST TYPE CHECKBOX*/
#checkbox label {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}

input[type="checkbox"] {
  transform: scale(1.8);
  margin-right: 0.5rem;
}

textarea{
    padding: 12px;
    font-size: 1rem;
}

/* BUTTON */

#submit{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: 200px;
    height: 40px;
    font-size: 1rem;
}

#submit:hover {
    background-color: #fff;
    color: #00FFFF;
    border: 2px solid #00FFFF;
    cursor: pointer;
}



